accelerate==1.5.1
data-factory>=2.3.0
loguru>=0.7.3
more-itertools>=10.6.0
numpy==1.26.4
omegaconf>=2.3.0
opencv-python-headless>=4.9.0,<4.11
orjson>=3.10.15
pandas==2.2.0
path>=17.1.0
python-dotenv>=1.0.1
requests>=2.32.3
tqdm>=4.67.1
langchain==0.3.20
langchain-community==0.3.19
langchain-openai==0.3.8
openai>=1.66.3
Pillow
scikit-learn
typer>=0.15.2
pydantic
onnxruntime-gpu==1.19
PyYAML
joblib
iterative-stratification
requests-cache>=1.2.1
